/* Style for input */

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: calc(100% - 130px);
    color: #333;
}


/* Style for buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

body {
    /* background-color: darkslategray; */
    background-image: url('bg.png');
    background-attachment: fixed;
}

.clear_btn {
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003d80;
}